<section id="blog" class="blog container">
  <h2>My Blog</h2>
  <br>
  <center>
    <p>My passion, whether through technology or human connection, is to foster learning communities and connect people across boundaries.</p>
    <br>
    <p>An example of such initiative was leading the International Student Organization (ISO) during my senior year at Grinnell College.</p>
    <br>
    <p>I was also the editor of a collaborative blog, Grinnell in Japan, that connects current Grinnell students from Japan to a Japanese audience.</p>
    <p>Here, I write about my extracurricular activities like ISO, study abroad, and more. *Blog only available in Japanese</p>
    <br>
  </center>
  <br>

  <div id="blog-posts-container"></div>
</section>