<header>
  <a href="#" class="logo-holder">
    <div class="logo">
      <img src="./imgs/logo-flower.png" alt="logo-flower" width="70%">
    </div>
    <div class="logo-text">Yuina's Digital Portfolio</div>
  </a>
  <nav>
    <ul id="menu">
      <li>
        <a href="#">Home</a> 
      </li>
      <li>
        <a href="#projects">Projects</a> 
      </li>
      <li>
        <a href="#blog">Blog</a> 
      </li>
      <li>
        <a href="mailto:yuina@stanford.edu" class="button yellow">Contact Me</a> 
      </li>
    </ul>
    <a href="#" class="mobile-toggle">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
      </svg>
    </a>
  </nav>
</header>