<section class="container">
  <div class="hero">
    <div class="hero-yellow1"> 
      <div>
        <h1>
          <small>Hi! I'm</small>
          Yuina :)
        </h1>
        <p>
          I'm a Stanford M.S. in Computer Science student passionate about Human-Centered AI and technology-enhanced learning. 
          <br><br>
          I've always loved school, learning, and the community it fosters, and I now channel that curiosity into building AI systems that 
          amplify the human connections making education meaningful!  <i>*last updated: 2025/11/27</i>
        </p>
        <div class="social-links">
          <a href="./Yuina_CVResume.pdf" class="button beige" target="_blank">
            View Resume
          </a>
          <a href="https://github.com/yuinaiseki" target="_blank" class="social-icon">
            <img src="./imgs/github.png" alt="Github" width="40">
          </a>
          <a href="https://www.linkedin.com/in/yuinaiseki/" target="_blank" class="social-icon">
            <img src="./imgs/linkedin.png" style="margin-top: 0;" alt="LinkedIn" width="40">
          </a>
        </div>
      </div>
    </div>
    <div class="hero-yellow2">
      <img src="./imgs/me.png" alt="Yuina Iseki" width="120%">
    </div>
  </div>
</section>