<section id="projects" class="projects-section container">
  <br>
  <h2>My Projects</h2>
  <br>
  <center>
    <p>
      I love working on projects that combine my interests in technology, education, and art!
    </p>
  </center>
  <br>
  
<center><div class="project-tabs" id="project-tabs"></div></center>
  
  
  <div id="projects-grid" class="projects-grid"></div>

  <div id="popup" class="popup">
    <div class="popup-content">
      <span class="close button">&times;</span>
      <div id="popup-content"></div>
    </div>
  </div>
</section>